{{#> modules/layout/default/index }}
  <div class="page page_gray page-timer">
    <h1>Timer</h1>
    <div class="page__block page__block_offset">
      <h2>Default</h2>
      <app-timer-custom value="4"></app-timer-custom>
    </div>
    <div class="page__block page__block_offset">
      <h2>Lite</h2>
      <app-timer-lite value="4"></app-timer-lite>
    </div>
    <div class="page__block page__block_offset">
      <h2>Lit-element</h2>
      <app-timer-lit value="4"></app-timer-lit>
    </div>
  </div>
{{/ modules/layout/default/index }}
