{{#> modules/layout/default/index }}
  <div class="page page_gray page-custom">
    <h1>Custom</h1>
    <div class="page__block page__block_offset">
      <h2>Default</h2>
      <app-example-custom value="4"></app-example-custom>
    </div>
    <div class="page__block page__block_offset">
      <h2>Lit-element</h2>
      <app-example-lit value="4"></app-example-lit>
    </div>
  </div>
{{/ modules/layout/default/index }}
