{{#> modules/layout/layout/index }}
    <h1>HTML Layout Kit</h1>
    {{> modules/example/index logo="images/logo.svg" }}
    <div>
        {{> modules/common/svg-icon/index src="images/logo.svg" }}
    </div>
{{/ modules/layout/layout/index }}
