{{#*inline "layout-header"}}{{> modules/layout/header/index }}{{/inline}}
{{#*inline "layout-footer"}}{{> modules/layout/footer/index }}{{/inline}}
{{#> modules/layout/layout/index }}
  <div class="page page_gray page-index">
    <h1>HTML Layout Kit</h1>
    <div class="page__block page__block_offset">
      <ul>
        <li>
          <a href="/example">Example</a>
        </li>
        <li>
          <a href="/custom">Custom</a>
        </li>
        <li>
          <a href="/slot">Slot</a>
        </li>
        <li>
          <a href="/user">User</a>
        </li>
      </ul>
    </div>
  </div>
{{/ modules/layout/layout/index }}
