<button class="timer-lite__button j-timer-lite-play">&#9199;</button>
<button class="timer-lite__button j-timer-lite-stop">&#9209;</button>
<div class="timer-lite__value j-timer-lite-value">{{value}}</div>
