// Набор цветовой палитры сайта
@c-primary: #ff5a00;
@c-primary-2: #d94500;
@c-primary-3: #ffd0a3;

@c-secondary: #f4f8e1;

// Набор оттенков серого.
@c-gray-1: #212121;
@c-gray-2: #353535;
@c-gray-3: #444444;
@c-gray-4: #666666;
@c-gray-5: #999999;
@c-gray-6: #aeaeae;
@c-gray-7: #cccccc;
@c-gray-8: #f2f2f2;
@c-gray-9: #f8f8f8;
@c-gray-10: #fafafa;

@c-white-1: #ffffff;
@c-white-2: fade(@c-white-1, 50%);
@c-black: #000000;

// Набор системной цветовой палитры.
@c-error: #ff3748;
@c-success: #00cc66;
@c-warning: #ffc107;

@c-link-default: #009be6;
@c-link-hover: #0060d2;
