@import (reference) 'font-face';
@import (reference) 'font-fluid';
@import (reference) 'font-size';

@pt-root-ui-path: '~fonts/';
@pt-root-ui-name: 'PT Root UI';

.font-face(@pt-root-ui-name, 'pt-root-ui-regular', @pt-root-ui-path, 400, normal);
.font-face(@pt-root-ui-name, 'pt-root-ui-medium', @pt-root-ui-path, 500, normal);
.font-face(@pt-root-ui-name, 'pt-root-ui-light', @pt-root-ui-path, 300, normal);
.font-face(@pt-root-ui-name, 'pt-root-ui-bold', @pt-root-ui-path, 600, normal);

.f-z_title {
    .make-fluid-font(@font-xl, @lh-xl, @font-xxxl, @lh-xxxl);
}

.f-z_h1 {
    .make-fluid-font(@font-l, @lh-l, @font-xxl, @lh-xxl);
}

.f-z_h2 {
    .make-fluid-font(@font-l, @lh-l, @font-xl, @lh-xl);
}

.f-z_p {
    .make-fluid-font(@font-xs, @lh-xs, @font-l, @lh-l);
}

.f-z_small {
    .make-fluid-font(@font-xs, @lh-xs, @font-m, @lh-m);
}

.f-z_xsmall {
    .make-fluid-font(@font-xxs, @lh-xxs, @font-s, @lh-s);
}

.f-z_xxxl {
    .font-size(xxxl);
}

.f-z_xxl {
    .font-size(xxl);
}

.f-z_xl {
    .font-size(xl);
}

.f-z_l {
    .font-size(l);
}

.f-z_m {
    .font-size(m);
}

.f-z_s {
    .font-size(s);
}

.f-z_xs {
    .font-size(xs);
}

.f-z_xxs {
    .font-size(xxs);
}

.f-z_xxxs {
    .font-size(xxxs);
}

.font-weight(@name, @size) {
    .f-w_@{name} {
        font-weight: @size;
    }
}

.font-weight(light, 300);
.font-weight(regular, 400);
.font-weight(medium, 500);
.font-weight(bold, 600);
