@import (reference) 'prop';

.t-a_c {
    text-align: center;
}

.t-t_u {
    text-transform: uppercase;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis(@countLines) {
    .prop(-webkit-box-orient, vertical);
    .prop(-webkit-line-clamp, @countLines);
    .prop(display, -webkit-box);

    overflow: hidden;
}

.t-d {
    &_n {
        text-decoration: none;
    }

    &_u {
        text-decoration: underline;
    }

    &_u-h {
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}
