<button class="example-timer-2__button j-example-timer-2-play">&#9199;</button>
<button class="example-timer-2__button j-example-timer-2-stop">&#9209;</button>
<div class="example-timer-2__value j-example-timer-2-value">{{value}}</div>
