<div class="layout">
    <div class="layout__header">
        {{#> header-block}}{{/header-block}}
    </div>
    <div class="layout__body">
        {{> @partial-block }}
    </div>
    <div class="layout__footer">
        {{#> footer-block}}{{/footer-block}}
    </div>
</div>
