<div class="layout">
  <div class="layout__header">
    {{#> layout-header}}{{/layout-header}}
  </div>
  <div class="layout__body">
    {{> @partial-block }}
  </div>
  <div class="layout__footer">
    {{#> layout-footer}}{{/layout-footer}}
  </div>
</div>
