<div class="example-default">
  {{#> example-default-first}}{{/example-default-first}}
  {{#> example-default-second}}{{/example-default-second}}
  {{#> example-default-third}}{{/example-default-third}}
</div>
