<div class="example-default j-example-default">
    <h2>example-default</h2>
    {{#> example-default-block}}{{/example-default-block}}
    <div class="example-default__logo">
        <img src="{{logo}}" alt="Logo">
    </div>
</div>
